/NetworkingProject/StandAlone/player_win_x86_s.pdb
/NetworkingProject/StandAlone/player_win_x86.pdb
/NetworkingProject/Temp
/NetworkingProject/NetworkingProject.csproj
/NetworkingProject/NetworkingProject.sln
/NetworkingProject/.vs
/NetworkingProject/Library
